# print-function

In [1]:
print("Hello World")

Hello World

In [2]:
print(6)

6

In [3]:
print("India","Pakistan","Nepal")

India Pakistan Nepal

In [4]:
print("India",5,True)

India 5 True

In [5]:
print("India","Pakistan","Nepal",sep='/')

India/Pakistan/Nepal

In [6]:
print("India","Pakistan","Nepal",sep='-')

India-Pakistan-Nepal

In [7]:
print("Hello")
print("World")

Hello
World

In [8]:
print("Hello",end=' ')
print("world")

Hello world

# Data types

# Python supports 3 categories of data types:
1. Basic types - (integer,float,complex,boolean and string)
2. Container types - (List,Tuples,Sets and Dictionary)
3. User-defined types - Class

In [9]:
# integer
print(4)
print(600000000000000000000000000000000000000000000000000000000000000000000000000000000000)

print(1e309)  # so this is the range as it's value is coming infinity

4
600000000000000000000000000000000000000000000000000000000000000000000000000000000000
inf

In [10]:
# float
print(4.5)

print(1.7e308)

4.5
1.7e+308

In [11]:
# boolean
print(True)
print(False)

True
False

In [12]:
# complex
print(4+5j)

(4+5j)

In [13]:
#string
print('Kolkata')
print("Kolkata")
print("""Kolkata""")

Kolkata
Kolkata
Kolkata

In [14]:
#List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
# tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [16]:
# sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [17]:
# dict
print({"Name":"Nitish","Age":30,"gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}

# Comments

In [18]:
# comments
# this is a comment

# Variables

In [19]:
# In C language
# int a = 5

In [20]:
name="Shayema"
print(name)

Shayema

In [21]:
name = 'Hello world'
print(name)

Hello world

In [22]:
# no variable type declaration i.e., int , float , boolea

In [23]:
# Dynamic typing in python
# Static typing in others

In [24]:
print(name)

Hello world

In [25]:
name=4
print(name)

4

In [26]:
name=True
print(name)

True

In [27]:
# Dynamic Binding

In [28]:
# Static Binding

In [29]:
# special syntax
a=5;b=6;c=7
print(a)
print(b)
print(c)

5
6
7

In [30]:
a,b,c=4,5,6
print(a)
print(b)
print(c)

4
5
6

In [31]:
a=b=c=6
print(a)
print(b)
print(c)

6
6
6

# Keywords
Python is a case sensitive programming language. 
In programming, a keyword is a word that is reserved by a program because the word has a special meaning. Keywords can be commmands or paramters. Every programming language has a set of keywords that cannot be used as variable names.

In [32]:
# python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers
 A python identifier is a name used to identify a variable,function,class,module or other object.
 Rules for setting Identifiers
 1. can only start with an alphabet or _
 2. Followed by 0 or more letter,_ and digits
 3. keywords cannot be used as an identifiers

In [33]:
_="Shayema"
print(_)

Shayema

In [34]:
name="Shayema"
print(name)

Shayema

In [35]:
2="Shayema"
print(2)

SyntaxError: can't assign to literal (3112784726.py, line 1)

In [36]:
name1="Shayema"
print(name1)

Shayema

In [37]:
1name="Shayema"
print(1name)

SyntaxError: invalid syntax (3848382974.py, line 1)

In [38]:
first_name="Shayema"
print(first_name)

Shayema

In [39]:
False="Shayema"
print(False)

SyntaxError: can't assign to keyword (4077315560.py, line 1)

# Taking-user-input and type-conversion

In [41]:
input(prompt= " your name ")

 your name Shayema

'Shayema'

In [42]:
first_num=input(" Enter the first number ")
second_num=input(" Enter the second number ")

 Enter the first number 56
 Enter the second number 76

In [43]:
print(first_num)
print(second_num)

56
76

In [44]:
result=first_num + second_num
print(result)

5676

In [45]:
# type
type(first_num)

str

In [46]:
# two types of conversion
# implicit
# explicit

In [47]:
4+5.5

9.5

In [48]:
5+6+7j

(11+7j)

In [49]:
4.5+5+5j

(9.5+5j)

In [50]:
first_num+second_num

'5676'

In [51]:
# int
int("1")

1

In [52]:
float(1)

1.0

In [53]:
str(1)

'1'

In [54]:
bool(1)

True

In [55]:
complex(1)

(1+0j)

In [56]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [57]:
int("Kolkata")   # not possible56

ValueError: invalid literal for int() with base 10: 'Kolkata'

In [59]:
first_num=int(input(" Enter the first number "))
second_num=int(input(" Enter the second number "))

print(first_num)
print(second_num)

result=first_num + second_num
print(result)

 Enter the first number 56
 Enter the second number 76
56
76
132

# Literals
literal is a raw data given in a variable in Python, there are various types of literalsthey are as follows:
    1. Numeric literals
    2. String literals
    3.Boolean literals
    4. Special literals

# 1. Numeric Literals

In [60]:
a = 0b1010 # Binary Literals
b = 100 # Decimal Literal
c = 0o310 # Octal Literal
d = 0x12c # Hexadecimal Literal

#Float Literal
float_1=10.5
float_2=1.5e2
float_3=1.5e-3

#Complex Literal
x=3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

# 2. String Literals

In [61]:
string='This is Python'
strings="This is python"
char="C"
multiline_str=""" This is a multiline string 
with more than one line code. """
unicode=u"\U0001f600\U0001F606\U0001F923"
raw_str=r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is python
C
 This is a multiline string
with more than one line code.
😀😆🤣
raw \n string

# 3. Boolean Literal

In [62]:
a=True+4
b=False+10

print("a:", a)
print("b:", b)

a: 5
b: 10

# 4. Special Literal

In [63]:
a=None
print(a)

None

In [64]:
c=34+35

In [65]:
k

NameError: name 'k' is not defined

In [66]:
# variable declaration
k=None

# Operators
operators are used to perform operations on variables and values.
Python has the following operators:
-Arithmetic
-Comparision
-Logical
-Bitwise
-Assignment
-Identity
-Memebership

In [67]:
# Arithmetic operators
x=5
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//2)

7
3
10
2.5
1
25
2

In [68]:
#Comparision operators
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [69]:
#Logical operators
x=True
y=False
print(x or y)
print(x and y)
print(not x)

True
False
False

In [70]:
#Bitwise operators
x=2
y=3
print(x & y)
print(x|y)
print(x>>y)
print(x<<y)
print(~x)

2
3
0
16
-3

In [71]:
#Assignment operators
a=3
print(a)
print()

a+=3
print(a)
print()

a-=3
print(a)
print()

a*=3
print(a)
print()

a&=3
print(a)
print()

3

6

3

9

1

In [72]:
#Identity operators
a=3
b=3
print(a is b)
print()


a="Hello"
b="Hello"
print(a is b)
print()


a=[1,2,3]
b=[1,2,3]
print(a is b)
print()


a="Hello-World"
b="Hello-World"
print(a is b)

# "is" opertator checks if two variables refer to the same object in memory, not just if their values are equal.

True

True

False

False

In [1]:
#Membership
x="Delhi"
print("D" in x)
print("D" not in x)
print()


x=[1,2,3]
print(1 in x)

True
False

True

# If-else statement  and  Nested-If-else

In [2]:
#correct email:- campusx@gmail.com
#password:- 1234

email=input("Apna email bata: ")
password=input("Apna password bhi bata: ")

if email=="campusx@gmail.com" and password=="1234":
    print("Welcome")
else:
    print("Incorrect credentials")

Apna email bata: campusx@gmail.com
Apna password bhi bata: 1234
Welcome

In [4]:
# When user says correct email nut incorrect password then give the user onbe more chance to give password
email=input("Apna email bata: ")
password=input("Apna password bhi bata: ")

if email=="campusx@gmail.com" and password=="1234":
    print("Welcome")
elif email=="campusx@gmail.com" and password!="1234":
    print("Incorrect password")
    password=input("Password fir se bol: ")
    if password=="1234":
        print("Finally correct")
    else:                                                      # Nested if else statement
        print("Still incorrect")                                       
else:
    print("Incorrect credentials")

Apna email bata: campusx@gmail.com
Apna password bhi bata: 12535
Incorrect password
Password fir se bol: 1234
Finally correct

In [5]:
# When @ is not present in email, then email and password is wrong

email=input("Apna email bata: ")
if "@" in email:
    password=input("Apna password bhi bata: ")
    
    if email=="campusx@gmail.com" and password=="1234":
        print("Welcome")
    elif email=="campusx@gmail.com" and password!="1234":
        print("Incorrect password")
        password=input("Password fir se bol: ")
        if password=="1234":
            print("Finally correct")
        else:                                                     
            print("Still incorrect")                                       
    else:
        print("Incorrect credentials")

else:
    print("Email galat hai")

Apna email bata: dthjge654
Email galat hai

# Indentation
Indentation refers to the spaces at the beginning of aa code line. Python uses indentation to indicate a block of code

In [6]:
name="244"
if name=="xyz":
    print('line1')
    print('line2')            # correct indentation
else:
    print('line3')

line3

In [7]:
name="244"
if name=="xyz":
print('line1')
    print('line2')            # incorrect indentation
else:
    print('line3')

IndentationError: expected an indented block (1384229735.py, line 3)

# while loop
A while loop is a control flow statement which repeatedly excutes a block of code until the condition is satified.

In [8]:
number=int(input("Enter the number: "))
i=1
while i<11:
    print(number*i)
    i+=1

Enter the number: 11
11
22
33
44
55
66
77
88
99
110

In [9]:
number=int(input("Enter the number: "))
i=1
while i<11:
    print(number,"*",i,"=",number*i)
    i+=1

Enter the number: 11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

# Guessing game

In [10]:
import random
random.randint(1,100)           # generates a random number in the range 1-100

83

In [11]:
jackpot=random.randint(1,100)
guess=int(input("Chal guess kar: "))
counter=1
while guess !=jackpot:
    if guess<jackpot:
        print("Guess higher")
    else:
        print("Guess lower")
    guess=int(input("Chal guess kaar: "))
    counter+=1
print("Sahi Jawab")
print("You took",counter,"attempts")

Chal guess kar: 30
Guess higher
Chal guess kaar: 50
Guess higher
Chal guess kaar: 70
Guess lower
Chal guess kaar: 60
Guess lower
Chal guess kaar: 55
Guess higher
Chal guess kaar: 57
Guess lower
Chal guess kaar: 59
Guess lower
Chal guess kaar: 58
Guess lower
Chal guess kaar: 56
Sahi Jawab
You took 9 attempts

# for loop
A for loop is used for iterating over a sequence(that is either a list, a tuple, a dictionary, a set ,or a string)

In [12]:
# range function
range(1,11)

range(1, 11)

In [13]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list(range(15))    # list(range(0,15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [15]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [16]:
list(range(1,11,3))

[1, 4, 7, 10]

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [19]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
for i in "Kolkata":
    print(i)

K
o
l
k
a
t
a

In [21]:
# lists
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [22]:
#tuples
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [23]:
#sets
for i in {1,2,3,4,5}:
    print(i)

1
2
3
4
5

# When to use for-loop and when to use while-loop

In [24]:
# for-loop is used when we know the no.of times , the loop will run.
# While-loop is used when we don't know in beforehand that the no.of times, the loop will run.

# Nested loops
Nested loops means lops inside a loop.

In [25]:
rows=int(input("Enter the number of rows: "))
for i in range(1,rows+1):
    for j in range(0,i):
        print("*",end=" ")
    print(" ")

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

# Break, Continue and Pass statements

In [26]:
# "break" allows you to exit a loop when an external condition is met.

for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [27]:
# "continue" statement is used to skip the remaining code inside a loop for the current iteration only.

for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [28]:
# "pass" statement is used as a placeholder for future code. When pass statement is executed,nothing happens but you avoid
# getting an error when empty code is not allowed.

for i in range(1,11):
    pass

In [29]:
for i in range(1,11):           # without "pass: we get error

SyntaxError: unexpected EOF while parsing (3014854016.py, line 1)

# Built-in functions
Built-in functions are those functions whose functionality is pre-defined in python.

# 1.print

In [30]:
print("Hello World")

Hello World

# 2. input

In [31]:
input("Enter your name : ")             # the o/p of input function is always in string format

Enter your name : Shayema

'Shayema'

# 3. type

In [32]:
a=3
type(a)

int

In [33]:
a=3.5
type(a)

float

In [34]:
a=True
type(a)

bool

# 4. int , float , str , list , tuple

In [35]:
int(5.6)

5

In [36]:
int('5')

5

# 5. abs
absolute value=|a| like |-4|=4

In [37]:
abs(-4)

4

# 6. pow

In [38]:
pow(2,3)    # 2^3

8

In [39]:
pow(2,-3)   #2^-3

0.125

# 7. min / max

In [40]:
min([2,1,3,0])

0

In [41]:
max([2,1,3,0])

3

In [42]:
min("Kolkata")           # depends on asci value

'K'

In [43]:
max("Kolkata")           # depends on asci value

't'

# 8. round
rounding off upto n decimal places

In [44]:
c=22/7
print(c)

round(c)

3.142857142857143

3

In [45]:
round(c,2)     # rounding off upto 2 decimal places

3.14

# 9. divmod

divmod=(x//y,x%y)

//-->integer division
%-->modulus

In [46]:
divmod(5,2)

(2, 1)

# 10. bin / oct / hex

In [47]:
bin(4)

'0b100'

In [48]:
oct(4)

'0o4'

In [49]:
hex(4)

'0x4'

# 11. id
address at memory

In [50]:
a=3
id(a)

140708275715200

# 12. ord
gives asci values

In [51]:
ord('c')

99

In [52]:
ord('C')

67

In [53]:
ord('A')

65

# 13. len

In [54]:
len("Kolkata")

7

In [55]:
len([1,2,3,4])

4

# 14. sum

In [56]:
sum([1,2,3,4,5,6])

21

In [57]:
sum({1,2,3,5,6})

17

# 15. help

In [58]:
help('print')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Built-in Modules

What are modules??
Consider a module to be the same as a code library. A file containing a set of functions you want to include in your application.
Examples of python modules: math, random, os, time

In [59]:
help('modules')

Please wait a moment while I gather a list of all available modules...

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\IPython\kernel\__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\torch\distributed\_sharded_tensor\__init__.py:10: DeprecationWarning: torch.distributed._sharded_tensor will be deprecated, use torch.distributed._shard.sharded_tensor instead
  DeprecationWarning
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\torch\distributed\_sharding_spec\__init__.py:10: DeprecationWarning: torch.distributed._sharding_spec will be deprecated, use torch.distributed._shard.sharding_spec instead
  DeprecationWarning
NOTE: Redirects are currently not supported in Windows or MacOs.
c:\users\user\appdata\local\programs\python\python37\lib\pkgutil.py:107: VisibleDeprecationWarning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

  yield from walk_packages(path, info.name+'.', onerror)

IPython             cgitb               mmapfile            storemagic
PIL                 chunk               mmsystem            string
Regression_Pyspark  cmath               modulefinder        stringprep
__future__          cmd                 msilib              struct
_abc                code                msvcrt              subprocess
_argon2_cffi_bindings codecs              multiprocessing     sunau
_ast                codeop              nbclassic           symbol
_asyncio            collections         nbclient            sympyprinting
_bisect             colorama            nbconvert           symtable
_blake2             colorsys            nbformat            sys
_bootlocale         comm                nest_asyncio        sysconfig
_bz2                commctrl            netbios             tabnanny
_cffi_backend       compileall          netrc               tarfile
_codecs             concurrent          nntplib             telnetlib
_codecs_cn          configparser        notebook            tempfile
_codecs_hk          contextlib          notebook_shim       terminado
_codecs_iso2022     contextvars         nt                  test
_codecs_jp          copy                ntpath              tests
_codecs_kr          copyreg             ntsecuritycon       textwrap
_codecs_tw          crypt               nturl2path          this
_collections        csv                 numbers             threading
_collections_abc    ctypes              numpy               threadpoolctl
_compat_pickle      curses              odbc                time
_compression        cycler              opcode              timeit
_contextvars        cythonmagic         operator            timer
_csv                dataclasses         optparse            tinycss2
_ctypes             datetime            os                  tkinter
_ctypes_test        dateutil            packaging           token
_datetime           dbi                 pandas              tokenize
_decimal            dbm                 pandocfilters       torch
_dummy_thread       dde                 parser              torchgen
_elementtree        debugpy             parso               tornado
_functools          decimal             pathlib             trace
_hashlib            decorator           pdb                 traceback
_heapq              defusedxml          perfmon             tracemalloc
_imp                difflib             pickle              traitlets
_io                 dis                 pickleshare         tty
_json               distutils           pickletools         turtle
_locale             doctest             pip                 turtledemo
_lsprof             dummy_threading     pipes               types
_lzma               easy_install        pkg_resources       typing
_markupbase         email               pkgutil             typing_extensions
_md5                encodings           pkgutil_resolve_name unicodedata
_msi                ensurepip           platform            unittest
_multibytecodec     entrypoints         plistlib            urllib
_multiprocessing    enum                poplib              uu
_opcode             errno               posixpath           uuid
_operator           exceptiongroup      pprint              venv
_osx_support        fastjsonschema      profile             warnings
_overlapped         faulthandler        prometheus_client   wave
_pickle             filecmp             prompt_toolkit      wcwidth
_py_abc             fileinput           pstats              weakref
_pydecimal          findspark           psutil              webbrowser
_pyio               fnmatch             pty                 webencodings
_pyrsistent_version fontTools           pvectorc            websocket
_queue              formatter           py4j                widgetsnbextension
_random             fractions           py_compile          win2kras
_sha1               ftplib              pyclbr              win32api
_sha256             functools           pycparser           win32clipboard
_sha3               functorch           pydoc               win32com
_sha512             gc                  pydoc_data          win32con
_signal             genericpath         pyexpat             win32console
_sitebuiltins       getopt              pygments            win32cred
_socket             getpass             pylab               win32crypt
_sqlite3            gettext             pyparsing           win32cryptcon
_sre                glob                pyrsistent          win32event
_ssl                gzip                pyspark             win32evtlog
_stat               hashlib             pythoncom           win32evtlogutil
_string             heapq               pytz                win32file
_strptime           hmac                pywin               win32gui
_struct             html                pywin32_bootstrap   win32gui_struct
_symtable           http                pywin32_testutil    win32help
_testbuffer         idlelib             pywintypes          win32inet
_testcapi           idna                qtconsole           win32inetcon
_testconsole        imaplib             qtpy                win32job
_testimportmultiple imghdr              queue               win32lz
_testmultiphase     imp                 quopri              win32net
_thread             importlib           random              win32netcon
_threading_local    importlib_metadata  rasutil             win32pdh
_tkinter            importlib_resources re                  win32pdhquery
_tracemalloc        inspect             regcheck            win32pdhutil
_warnings           io                  regutil             win32pipe
_weakref            ipaddress           reprlib             win32print
_weakrefset         ipykernel           rlcompleter         win32process
_win32sysloader     ipykernel_launcher  rmagic              win32profile
_winapi             ipython_genutils    runpy               win32ras
_winxptheme         ipywidgets          sched               win32rcparser
abc                 isapi               scipy               win32security
adodbapi            itertools           seaborn             win32service
afxres              jedi                secrets             win32serviceutil
aifc                jinja2              select              win32timezone
antigravity         joblib              selectors           win32trace
anyio               json                send2trash          win32traceutil
argon2              jsonschema          servicemanager      win32transaction
argparse            jupyter             setuptools          win32ts
array               jupyter_client      shelve              win32ui
ast                 jupyter_console     shlex               win32uiole
asynchat            jupyter_core        shutil              win32verstamp
asyncio             jupyter_server      signal              win32wnet
asyncore            jupyterlab_pygments site                winerror
atexit              jupyterlab_widgets  six                 winioctlcon
attr                keyword             sklearn             winnt
attrs               kiwisolver          smtpd               winperf
audioop             lib2to3             smtplib             winpty
autoreload          linecache           sndhdr              winreg
backcall            locale              sniffio             winsound
base64              logging             socket              winxpgui
bdb                 lzma                socketserver        winxptheme
binascii            macpath             soupsieve           wsgiref
binhex              mailbox             sqlite3             xdrlib
bisect              mailcap             sre_compile         xml
bleach              markupsafe          sre_constants       xmlrpc
bs4                 marshal             sre_parse           xxsubtype
builtins            math                ssl                 zipapp
bz2                 matplotlib          sspi                zipfile
cProfile            matplotlib_inline   sspicon             zipimport
calendar            mimetypes           start_pythonwin     zipp
cffi                mistune             stat                zlib
cgi                 mmap                statistics          zmq

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [60]:
import math     # in python

In [61]:
# include <stdio.h>   in C programming

In [62]:
math.pi

3.141592653589793

In [63]:
math.e

2.718281828459045

In [64]:
math.factorial(5)

120

In [65]:
math.ceil(6.3)

7

In [66]:
math.floor(6.9)

6

In [67]:
import random

In [68]:
random.randint(1,34)

9

In [69]:
a=[1,2,3,4,5]
random.shuffle(a)       # shuffles the list every time
a

[1, 2, 4, 5, 3]

In [70]:
import time

In [71]:
time.time()            # gives timestamp from 1st Jan 1970 till today in secs

1710137135.7543738

In [72]:
time.ctime()

'Sun Mar 10 23:05:36 2024'

In [73]:
print("Hello")
time.sleep(1)           # takes delay of 1sec and then prints second word
print("World")

Hello
World

In [74]:
import os

In [75]:
os.getcwd()

'C:\\Users\\USER'

In [76]:
os.listdir()

['.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.kaggle',
 '.keras',
 '.matplotlib',
 '.scala_history',
 '.VirtualBox',
 '.vscode',
 '3D Objects',
 'AppData',
 'Application Data',
 'CarPricePrediction.csv',
 'CarPrice_Assignment.csv',
 'car_data.csv',
 'Classification_Using_Pyspark.ipynb',
 'Contacts',
 'Cookies',
 'countries-life-expectancy',
 'data.csv',
 'data1.csv',
 'Dataframe.ipynb',
 'dataset.csv',
 'Desktop',
 'diamonds.csv',
 'Different ways of creating DataFrames.ipynb',
 'Documents',
 'Downloads',
 'Favorites',
 'Insurance.csv',
 'Insurance_multiple_variables.csv',
 'Intel',
 'Introduction of pandas.ipynb',
 'kaggle.json',
 'kaggle_dataset.ipynb',
 'Life expectancy.csv',
 'line.png',
 'Links',
 'Local Settings',
 'Machine Learning.ipynb',
 'Matplotlib.ipynb',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'NumPy.ipynb',
 'OneDrive',
 'pandas Introoduction.ipynb',
 'Pandas.ipynb',
 'Pictures',
 'pipeline_saved_model',
 'Positions_salary.csv',
 'PrintHood',
 'pyspark DataFrames_2.ipynb',
 'pyspark Handling missing values_3.ipynb',
 'pyspark Introductoin_1.ipynb',
 'pyspark-Filter Operation_4.ipynb',
 'pyspark_GroupBy_And_Aggregate_functions_5.ipynb',
 'pyspark_Mlib_6.ipynb',
 'pyspark_test_data.csv',
 'pyspark_test_data_2.csv',
 'pyspark_test_data_3.csv',
 'pyspark_test_data_4.csv',
 'pyspark_test_data_5.csv',
 'Python.ipynb',
 'read_csv.ipynb',
 'Recent',
 'Regression_Pyspark.ipynb',
 'Regression_Pyspark.py',
 'Regression_Pyspark_1.ipynb',
 'Regression_using_Pyspark.ipynb',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'TensorFlow basics.ipynb',
 'Test_new.csv',
 'untitled.txt',
 'Untitled4.ipynb',
 'Videos',
 'VirtualBox VMs',
 'weather-data-in-new-york-city-2016',
 'weather_data.xlsx',
 'weather_data_nyc_centralpark_2016(1).csv']

# Strings
 Strings are sequence of characters.
 In Python specifically, strings are a sequence of Unicode Characters.

# 1. Creating Strings

In [77]:
c='Hello'
print(c)

Hello

In [78]:
c="Hello"
print(c)

Hello

In [79]:
'It's raining outside'

SyntaxError: invalid syntax (2979369800.py, line 1)

In [80]:
"It's raining outside"    # to avoid the above error we use " "

"It's raining outside"

In [81]:
c=''' Hello '''
print(c)
# multi line strings

 Hello

In [82]:
c=str("Hello")
c

'Hello'

# 2. Accessing Substrings from a String

In [83]:
# Concept of Indexing
c="hello"
print(c)

hello

In [84]:
print(c[0])

h

In [85]:
print(c[1])

e

In [86]:
print(c[2])

l

In [87]:
print(c[3])

l

In [88]:
print(c[4])

o

In [89]:
# Types of indexing ---> positive and negative indexing
print(c[-1])

print(c[-2])

print(c[-3])

o
l
l

In [90]:
# slicing
c="Hello World"
print(c)

Hello World

In [91]:
print(c[0:4])

Hell

In [92]:
print(c[0:5])

Hello

In [93]:
print(c[2:])

llo World

In [94]:
print(c[:4])

Hell

In [95]:
print(c[:])

Hello World

In [96]:
print(c[2:6:2])

lo

In [97]:
print(c[0:8:3])

HlW

In [98]:
print(c[0:6:-1])    # o/p is nothing because when we work with positive indexes, we can't take negative steps

In [99]:
print(c[::-1])  # string is reversed

dlroW olleH

In [100]:
print(c[-1:-5:-1])

dlro

# 3. Editing and Deleting in strings

In [101]:
c="Hello"
print(c)

Hello

In [102]:
# Here we want to replace 'H' with 'X'
c[0]='X'    # o/p will give error as 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [103]:
# Strings are immutable data types
c="World"
print(c)     
# We can reassign value of c but we can't change existing string like Hello-->Xello  is wrong
#                                                                but  Hello-->World is right

World

In [104]:
c[5]="X"   
# we can't add characters also

TypeError: 'str' object does not support item assignment

In [105]:
# Deletion
del c

In [106]:
print(c)  # string is deleted

NameError: name 'c' is not defined

In [107]:
c="hello"

In [108]:
print(c)

hello

In [109]:
del c[0]   # we can't delete a particular charcater from string as mutation is not allowed in strings

TypeError: 'str' object doesn't support item deletion

In [110]:
del[:3:2]

SyntaxError: invalid syntax (2525499094.py, line 1)

# 4. String operations
operations on strings are: Arithmetic , Relational , Logical , Loops , Membership

In [111]:
# Arithmetic operators ---> + , * 

"Hello" + "world"

'Helloworld'

In [112]:
"Hello" + "-" + "world"

'Hello-world'

In [113]:
print("="*50)

==================================================

In [114]:
# Relational operators
"Hello"=="World"

False

In [115]:
"Hello"!="World"

True

In [116]:
"Mumbai">"Pune"    # comparision is done lexiographically means Mumbai comes first in dictionary

False

In [117]:
"Goa"<"Kolkata"

True

In [118]:
"kol"<"Kol"   # capital letters come first

False

In [119]:
# logical operators
"hello" and "world"     # True and True --> True(2nd word) as this value depends on 2nd word  as T and F -> F

'world'

In [120]:
# "" -> False   (empty string is False)
# "gfhfj" -> True  (non-empty string is True)

In [121]:
"" and "Hello"   # False and True is False

''

In [122]:
"" or "world"    # False or True is True

'world'

In [123]:
"hello" or "world"     # True or True --> True(1st word) as this value depends on first word  as F or T -->T

'hello'

In [124]:
not "hello"    # not True is False

False

In [125]:
not ""

True

In [126]:
# Loops operators
c="hello world"
for i in c:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [127]:
c="hello world"
for i in c[2:7]:
    print(i)

l
l
o

w

In [128]:
c="hello world"
for i in c[2:7:2]:
    print(i)

l
o
w

In [129]:
# Membership operators
c

'hello world'

In [130]:
'world' not in c

False

In [131]:
'h' in c

True

In [132]:
"H" in c

False

# 5. String functions

In [133]:
# common functions : len , max , min , sorted.

In [134]:
c="kolkata"
len(c)

7

In [135]:
max(c)

't'

In [136]:
min(c)

'a'

In [137]:
sorted(c)      # sorts all characters of string in ascending order

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [138]:
sorted(c,reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

In [139]:
# 1. Capitalize / Title / Upper / Lower / Swapcase

In [140]:
c

'kolkata'

In [141]:
c.capitalize()

'Kolkata'

In [142]:
"it's raining today".capitalize()

"It's raining today"

In [143]:
"it's raining today".title()

"It'S Raining Today"

In [144]:
c.upper()

'KOLKATA'

In [145]:
c.lower()

'kolkata'

In [146]:
"Kolkata".swapcase()  # lower-case is converted to upper-case and vice versa

'kOLKATA'

In [147]:
# 2. Count

"it is raining today".count("i")

4

In [148]:
"it is raining today".count("ing")

1

In [149]:
"it is raining today".count("x")

0

In [150]:
# 3. Find/Index

"it is raining".find("i")

0

In [151]:
"it is raining".find("g")

12

In [152]:
"it is raining".find("raining")

6

In [153]:
"it is raining".find("x")    # if character is not present in string then o/p is -1

-1

In [154]:
"it is raining".index("rain")

6

In [155]:
"it is raining".index("x")# major difference bet find & index is if any char is absent then o/p is -1 in find and error in index

ValueError: substring not found

In [156]:
# 4. endswith / startswith

"it is raining".endswith("ing")

True

In [157]:
"it is raining".endswith("hgfskjj")

False

In [158]:
"it is raining ".startswith("it")

True

In [159]:
"it is raining ".startswith("mhft")

False

In [160]:
# 5. format 

"Hello my name is {} and I am {}".format("Shayema",22)

'Hello my name is Shayema and I am 22'

In [161]:
"Hello my name is {1} and I am {0}".format("Shayema",22)   # Shayema-->0 position
                                                           # 22--> 1 position

'Hello my name is 22 and I am Shayema'

In [162]:
"Hello my name is {name} and I am {age}".format(name="Shayema",age=22)

'Hello my name is Shayema and I am 22'

In [163]:
"Hello my name is {age} and I am {name}".format(name="Shayema",age=22)

'Hello my name is 22 and I am Shayema'

In [164]:
"Hello my name is {name} and I am {weight}".format(name="Shayema",age=22,weight=67)

'Hello my name is Shayema and I am 67'

In [165]:
"Hello my name is {name} and I am {name}".format(name="Shayema",age=22,weight=67)

'Hello my name is Shayema and I am Shayema'

In [166]:
# 6. isalnum / isapha / isdecimal / isdigit / isidentifier

"FLAT20".isalnum()   # isalnum checks whether all characters in string are alphabetical or numerical

True

In [167]:
"FLAT20@".isalnum()

False

In [168]:
"FLAT".isalpha()   # isalpha checks whether all charcaters in string are alphabetical

True

In [169]:
"FLAT123".isalpha()

False

In [170]:
"20".isdigit()   # isdigit checks whether all charcters in string are digit

True

In [171]:
"20A".isdigit()

False

In [172]:
"hello world".isidentifier()    # isidentifier checks if a string is a valid identifier

False

In [173]:
"hello_world".isidentifier()

True

In [174]:
# 7. Split

"who is the pm of India".split()

['who', 'is', 'the', 'pm', 'of', 'India']

In [175]:
"who is the pm of India".split("pm")

['who is the ', ' of India']

In [176]:
"who is the pm of India".split("i")

['who ', 's the pm of Ind', 'a']

In [177]:
"who is the pm of India".split("x")

['who is the pm of India']

In [178]:
# 8. Join

" ".join(['who','is','the','pm','of','India'])

'who is the pm of India'

In [179]:
"-".join(['who','is','the','pm','of','India'])

'who-is-the-pm-of-India'

In [180]:
"/".join(['who','is','the','pm','of','India'])

'who/is/the/pm/of/India'

In [181]:
# 9. Replace

"Hi my name is Shayema".replace("Shayema","Choti")

'Hi my name is Choti'

In [182]:
# 10. Strip

name="            Shayema           "
print(name)

            Shayema

In [183]:
"Hi" + name

'Hi            Shayema           '

In [184]:
name="            Shayema             "
name.strip()

'Shayema'

# Lists
A list is a data structure that is a mutable, changeable, ordered sequence of elements. Each element or value that is inside of a list is called an 'item'. Just as strings are defined as charcters between quotes, lists are defined by having values between square brackets[].

In [185]:
##### List vs Array

# 1. Array is homogeneous ( means all items in array are of same data type )
#    List is heterogeneous ( i.e.,[1,'apple',3.14,True,[1,2,3],{'key':'value'}] ) 

# 2. In Arrays, all items are stored in continuous memory location but not in Lists. 

#3. Arrays are much faster in computation than Lists.

#4. Lists are more programmer friendly.

In [186]:
##### Types of Lists ( create )

In [187]:
L=[]   # empty list
L

[]

In [1]:
L1=[1,2,3,4,5,6]   # homogeneous list
L1

[1, 2, 3, 4, 5, 6]

In [24]:
L2=['Hello',4,5,6,True,5+6j]   # heterogenous list
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [7]:
L3=[1,2,3,[4,5]]   # multi-dim lists   # 2D
L3

[1, 2, 3, [4, 5]]

In [191]:
L4=[[[1,2],[3,4]],[[5,6],[7,8]]]   # multi-dim lists   # 3D
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [192]:
L5=list('Ehtasham')    # type conversion       # string converted to list
L5

['E', 'h', 't', 'a', 's', 'h', 'a', 'm']

In [193]:
L6=list()   # empty list(another method)
L6

[]

In [194]:
##### Access items from lists

In [195]:
L1

[1, 2, 3, 4, 5, 6]

In [2]:
L1[0]

1

In [3]:
L1[-1]

6

In [4]:
L1[1:3]

[2, 3]

In [5]:
L1[::-1]

[6, 5, 4, 3, 2, 1]

In [8]:
L3   # access items from multi-dim lists

[1, 2, 3, [4, 5]]

In [201]:
# how to access 4 from L3

L3[0]

1

In [202]:
L3[-1]

[4, 5]

In [203]:
X=L3[-1]
X

[4, 5]

In [204]:
X[0]

4

In [205]:
L3[-1][0]

4

In [206]:
L3[3][0]

4

In [207]:
# how to access 7 from L4

L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [208]:
L4[0]

[[1, 2], [3, 4]]

In [209]:
L4[1]

[[5, 6], [7, 8]]

In [210]:
L4[1][0]

[5, 6]

In [211]:
L4[1][1]

[7, 8]

In [212]:
L4[1][1][0]

7

In [213]:
#####  Edit items from lists

In [9]:
L1

[1, 2, 3, 4, 5, 6]

In [10]:
L1[0]=100    # lists are mutable
L1

[100, 2, 3, 4, 5, 6]

In [11]:
L1[-1]=500
L1

[100, 2, 3, 4, 5, 500]

In [12]:
L1[1:4]=200,300,400
L1

[100, 200, 300, 400, 5, 500]

In [13]:
##### Add items in lists

In [14]:
L1

[100, 200, 300, 400, 5, 500]

In [15]:
L1.append(1000)   # append   (adds only 1 item)
L1

[100, 200, 300, 400, 5, 500, 1000]

In [16]:
L1.append('hello')   # append   (adds only 1 item)
L1

[100, 200, 300, 400, 5, 500, 1000, 'hello']

In [17]:
L1.extend([4000,5000,6000])   # extend (add multiple items)
L1

[100, 200, 300, 400, 5, 500, 1000, 'hello', 4000, 5000, 6000]

In [226]:
L1.append([5,6])   # append will always try to add 1 item
L1

[100,
 200,
 300,
 400,
 5,
 500,
 1000,
 1000,
 'hello',
 4000,
 5000,
 6000,
 [5, 6],
 [5, 6]]

In [18]:
L1.extend('goa')   # extend will always try to add multiple items
L1

[100, 200, 300, 400, 5, 500, 1000, 'hello', 4000, 5000, 6000, 'g', 'o', 'a']

In [19]:
L1.insert(1,'world')  # insert adds item in specified location

In [20]:
L1

[100,
 'world',
 200,
 300,
 400,
 5,
 500,
 1000,
 'hello',
 4000,
 5000,
 6000,
 'g',
 'o',
 'a']

In [21]:
##### Delete items from lists

In [22]:
L1

[100,
 'world',
 200,
 300,
 400,
 5,
 500,
 1000,
 'hello',
 4000,
 5000,
 6000,
 'g',
 'o',
 'a']

In [25]:
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [28]:
del L2   # del deletes entire list
L2

NameError: name 'L2' is not defined

In [30]:
del L1[0]  # deletes item from L1 at 0th position
L1

['world',
 200,
 300,
 400,
 5,
 500,
 1000,
 'hello',
 4000,
 5000,
 6000,
 'g',
 'o',
 'a']

In [31]:
del L1[-4]     # deletes item from L1 at -4th position
L1

['world', 200, 300, 400, 5, 500, 1000, 'hello', 4000, 5000, 'g', 'o', 'a']

In [32]:
del L1[-3:]   # deleting 'g', 'o', 'a' 
L1

['world', 200, 300, 400, 5, 500, 1000, 'hello', 4000, 5000]

In [33]:
L1.remove('hello')      # if we want to delete an item but we don't know the position of the item then use 'remove'
L1

['world', 200, 300, 400, 5, 500, 1000, 4000, 5000]

In [34]:
L1.pop()    # 'pop' deletes the last item

5000

In [35]:
L1

['world', 200, 300, 400, 5, 500, 1000, 4000]

In [36]:
L1.pop()

4000

In [37]:
L1

['world', 200, 300, 400, 5, 500, 1000]

In [38]:
L1.clear()    # clear deletes all items from the list
L1            # while del().L2 deletes the entire list

[]

In [39]:
##### operations

In [41]:
L=[1,2,3,4]
L

[1, 2, 3, 4]

In [42]:
L1=[5,6,7,8]
L1

[5, 6, 7, 8]

In [43]:
L+L1   # addition operator ----> + (concatenate)

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
L*3     # multiplication operator ----> * (concatenate)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [45]:
for i in L:     # loop
    print(i)

1
2
3
4

In [46]:
L3

[1, 2, 3, [4, 5]]

In [47]:
for i in L3:   # loop
    print(i)

1
2
3
[4, 5]

In [48]:
4 in L3   # membership operator

False

In [49]:
[4,5] in L3

True

In [50]:
##### Functions

In [51]:
L

[1, 2, 3, 4]

In [52]:
len(L)

4

In [53]:
min(L)

1

In [54]:
max(L)

4

In [55]:
sorted(L)    # sorting in ascending order      # 'sorted' is not a permanent operation

[1, 2, 3, 4]

In [56]:
sorted(L,reverse=True)    # sorting in descending order    # 'sorted' is not a permanent operation

[4, 3, 2, 1]

In [58]:
L.sort()      # 'sort' is a permanent operation
L

[1, 2, 3, 4]

In [59]:
L.sort(reverse=True)   # 'sort' is a permanent operation
L

[4, 3, 2, 1]

In [60]:
L   # 'sort' is a permanent operation

[4, 3, 2, 1]

In [61]:
# 'sorted' will create a new list but 'sort' will make changes in original list.

In [62]:
L.index(3)    # gives index

1

# <Q.1>For a string , write a code such that each first letter in the word in string is in capital (without using title())

In [65]:
# example;
'hello how are you?'.title()     # we have to do this without 'title' operation

'Hello How Are You?'

In [67]:
sample='hello how are you?'
print(sample.split())   # split converts string into list.

['hello', 'how', 'are', 'you?']

In [69]:
sample='hello how are you?'

for i in sample.split():
    print(i)

hello
how
are
you?

In [70]:
sample='hello how are you?'

for i in sample.split():
    print(i.capitalize())    # now if we want this o/p in string format

Hello
How
Are
You?

In [71]:
sample='hello how are you?'

L=[]

for i in sample.split():
    print(i.capitalize())
    L.append(i.capitalize())
    
print(L)      # we got a list in o/p
              # Now we want a string from this list

Hello
How
Are
You?
['Hello', 'How', 'Are', 'You?']

In [73]:
sample='hello how are you?'

L=[]

for i in sample.split():
    print(i.capitalize())
    L.append(i.capitalize())
    
print(L)
print(" ".join(L))    # this is the final code

Hello
How
Are
You?
['Hello', 'How', 'Are', 'You?']
Hello How Are You?

In [2]:
sample=input("write a string : ")

L=[]

for i in sample.split():
    print(i.capitalize())
    L.append(i.capitalize())
    
print(L)
print(" ".join(L))    # this is the final code

write a string : my name is shayema
My
Name
Is
Shayema
['My', 'Name', 'Is', 'Shayema']
My Name Is Shayema

# <Q.2> Suppose email id is : abc@gmail.com then write a code to find abc

In [1]:
sample='abc@gmail.com'

print(sample.find("@"))

3

In [3]:
sample='abc@gmail.com'

print(sample[:sample.find("@")])

abc

In [4]:
sample='shayema@yahoo.com'

print(sample[:sample.find("@")])

shayema

In [6]:
sample=input(" write your email : ")

print(sample[:sample.find("@")])

 write your email : shayemanaaz@gmail.com
shayemanaaz

# <Q.3> write a code to remove duplicate items from list 
i.e., [1,1,2,2,3,3,4,4] ---> [1,2,3,4]

In [8]:
L1=[1,1,2,2,3,3,4,4]
L2=[1,2,3,1]

L=[]

for i in L1:
    print(i)

1
1
2
2
3
3
4
4

In [10]:
L1=[1,1,2,2,3,3,4,4]
L2=[1,2,3,4]

L=[]

for i in L1:
    if i not in L:
        L.append(i)
        
print(L)

[1, 2, 3, 4]

# Tuples
Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable.

In [11]:
# ordered : Maintain the order of the data insertion.
# Unchangeable: Tuples are immutable and we can't modify items.
# Heterogenous: Tuples can contain data of types.
# Contains duplicate: Allows duplicates data

In [1]:
##### create

In [2]:
T1=()  # empty 
T1

()

In [3]:
T2=(1,2,3,4)   # homogeneous
T2

(1, 2, 3, 4)

In [4]:
T3=("Hello",4,5.6)   # heterogenous 
T3

('Hello', 4, 5.6)

In [5]:
T4=(1,2,3,(4,5))   # 2D
T4

(1, 2, 3, (4, 5))

In [6]:
T5=(1)
T5

1

In [7]:
type(T5)   # single valued tuple can't be created by this way

int

In [8]:
T5=("hello")   
T5

'hello'

In [9]:
type(T5)   # single valued tuple can't be created by this way

str

In [10]:
T5=('Hello',)   # correct way to create a single valued tuple
T5

('Hello',)

In [11]:
type(T5)

tuple

In [12]:
T6=tuple('Goa')   # we can use tuple function to create a tuple
T6

('G', 'o', 'a')

In [13]:
T6=tuple([1,2,3,4,5])
T6

(1, 2, 3, 4, 5)

In [14]:
##### Access

In [15]:
T2

(1, 2, 3, 4)

In [16]:
T2[0]

1

In [18]:
T2[-1]

4

In [19]:
T2[:4]

(1, 2, 3, 4)

In [21]:
T4

(1, 2, 3, (4, 5))

In [22]:
T4[3][0]

4

In [23]:
##### Edit

In [25]:
L=[1,2,3,4,5]    # Difference between list and tuple 

L[0]=100
L

[100, 2, 3, 4, 5]

In [27]:
T2            # Difference between list and tuple 

T2[0]=100
T2           # Tuples just like Strings are immutable

TypeError: 'tuple' object does not support item assignment

In [28]:
##### Add

# ----> We can't add as Tuples are immutable

In [29]:
##### Delete

T1

()

In [30]:
del T1

In [31]:
T1    # we can delete entire tuple

NameError: name 'T1' is not defined

In [32]:
T2

(1, 2, 3, 4)

In [34]:
del T2[-1]    # we can delete entire tuple but can't delete items from tuples as they are immutable

TypeError: 'tuple' object doesn't support item deletion

In [35]:
##### Operations

In [36]:
T2

(1, 2, 3, 4)

In [37]:
T3

('Hello', 4, 5.6)

In [38]:
T2 + T3

(1, 2, 3, 4, 'Hello', 4, 5.6)

In [39]:
T2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [40]:
for i in T2:
    print(i)

1
2
3
4

In [41]:
1 in T2

True

In [42]:
##### Functions

In [43]:
len(T2)

4

In [44]:
min(T2)

1

In [45]:
max(T2)

4

In [46]:
sum(T2)

10

In [47]:
sorted(T2)

[1, 2, 3, 4]

In [48]:
sorted(T2,reverse=True)

[4, 3, 2, 1]

In [49]:
# Tuples are read-only data type

# Sets 
It is used to store several items in a single variable.It is one of the 4 built-in data types(List,Dict,Tuple and Set).It is a collection that is written in curly brackest and is both ordered and unorederd. A set is mutable. Set in python is similar to mathematical sets and operations like intersection,union,symmetric,difference,etc.

In [1]:
##### Rules:

# 1. Sets do not allow duplicates

# 2. Sets have no indexing/slicing

# 3.Sets don't allow mutable data types

# 4. Set itself is a mutable data type

In [2]:
##### Create

In [15]:
S1={}    # by default  this is for empty dictionary
S1

{}

In [16]:
type(S1)

dict

In [17]:
S1=set()    # this is used for empty set
S1

set()

In [18]:
type(S1)

set

In [19]:
S2={1,2,3,4,5}   # homogeneous 
S2

{1, 2, 3, 4, 5}

In [20]:
S3={'Hello',4.5,True}   # heterogeneous
S3

{4.5, 'Hello', True}

In [21]:
S4={1,1,2,2,3,3}    # since  Sets do not allow duplicates
S4

{1, 2, 3}

In [22]:
S5={[1,2,3],'Hello'}    # since Sets don't allow mutable data types and since []--->list is mutable
S5

TypeError: unhashable type: 'list'

In [23]:
S5={(1,2,3),'Hello'}   # since Sets don't allow mutable data types and ()--->tuple is immutable so () is allowed
S5

{(1, 2, 3), 'Hello'}

In [24]:
# Sets have no indexing this is because of 'Hashing'(which is a concept in DSA)
# example; S5={[1,2,3],'Hello'}
#          S5
#          o/p---> {'Hello',(1,2,3)}   # this is because of sets have no indexing

In [25]:
S5={{1},{2}}
S5            # By defination, multi-dim sets can't be created

TypeError: unhashable type: 'set'

In [26]:
##### Access

In [29]:
S3

{4.5, 'Hello', True}

In [31]:
S3[0]   #  Sets have no indexing/slicing

TypeError: 'set' object is not subscriptable

In [32]:
S2

{1, 2, 3, 4, 5}

In [33]:
S2[-1]   #  Sets have no indexing/slicing

TypeError: 'set' object is not subscriptable

In [34]:
S1[0:3]    #  Sets have no indexing/slicing

TypeError: 'set' object is not subscriptable

In [36]:
##### Edit

In [38]:
S2

{1, 2, 3, 4, 5}

In [39]:
S2[2]=100  # 'set' object does not support item assignment

S2

TypeError: 'set' object does not support item assignment

In [40]:
# Editing items in a set?
# We can't edit a Set......
# But can we convert the set to a list and then edit and then again convert the list to a set
# i.e., set--->list then edit then list--->set

In [41]:
S2

{1, 2, 3, 4, 5}

In [42]:
id(S2)   # memory address of S2

2369407708296

In [44]:
L=list(S2)   # we created a list which is a type conversion of set S2
L

[1, 2, 3, 4, 5]

In [45]:
L[0]=100
L

[100, 2, 3, 4, 5]

In [46]:
S2=set(L)
S2

{2, 3, 4, 5, 100}

In [47]:
id(S2)  # the memory address is different

2369407707848

In [48]:
# 2369407708296 and 2369407707848 memory addresses are different

In [49]:
# Hence we can't convert the set to a list and then edit and then again convert the list to a set
# i.e., set--->list then edit then list--->set
# As memory addresses changes

In [50]:
##### Add

In [51]:
S2

{2, 3, 4, 5, 100}

In [54]:
id(S2)

2369407707848

In [52]:
S2.add(7)
S2            # we can add items

{2, 3, 4, 5, 7, 100}

In [55]:
id(S2)   # memory address is same

2369407707848

In [53]:
# It means we can add some items to an existing set 
# But we can't edit an existing set

# Hence Set itself is a mutable data type

In [56]:
##### Delete

In [57]:
S2

{2, 3, 4, 5, 7, 100}

In [58]:
S3

{4.5, 'Hello', True}

In [60]:
del S3   # we can delete an entire set 
S3

NameError: name 'S3' is not defined

In [61]:
del S2[0]   # But we can't delete some items from set

TypeError: 'set' object doesn't support item deletion

In [62]:
S2.remove(100)   # remove
S2

{2, 3, 4, 5, 7}

In [64]:
S2.pop()   # In usual case, pop should remove the last item(i.e.,7) but here it removes 2 . This is because of 'Hashing'

2

In [65]:
S2.pop()

3

In [66]:
##### Set operations

In [1]:
S1={1,2,3,4,5}
S2={3,4,5,6,7}

In [2]:
S1 + S2   # In Sets we cannot concatenate

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [3]:
S1*3 # we can't multiply in sets

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [4]:
for i in S1:
    print(i)     # loop

1
2
3
4
5

In [5]:
1 in S1          # memebership operators

True

In [6]:
##### Functions

In [7]:
len(S1)

5

In [8]:
min(S1)

1

In [9]:
max(S2)

7

In [10]:
sum(S1)

15

In [11]:
sorted (S1)

[1, 2, 3, 4, 5]

In [12]:
sorted(S1,reverse=True)

[5, 4, 3, 2, 1]

In [13]:
S1.union(S2)     # union

{1, 2, 3, 4, 5, 6, 7}

In [14]:
S1.intersection(S2)   # intersection

{3, 4, 5}

In [15]:
S1.difference(S2)     # difference

{1, 2}

In [16]:
S1.difference(S2)     # difference

{6, 7}

In [17]:
S1.symmetric_difference(S2)   # symmetric_difference

{1, 2, 6, 7}

In [19]:
S1.isdisjoint(S2)         # S1 intersection S2 = null -------> disjoint

False

In [20]:
S1.issubset(S2)         # subset

False

In [21]:
S1.issuperset(S2)       # superset

False

In [22]:
S1.clear()
S1                       # clear

set()

# Dictionary 
Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates

In [2]:
{'Name':'Shayema','Gender':'Female'}

{'Name': 'Shayema', 'Gender': 'Female'}

In [3]:
##### Rules

In [4]:
# R1 : Dictionary has no indexing
# R2 : Dictionary is a mutable data type
# R3 : Keys--->immutable, values--->they can be mutable
# R4 : Keys should be unique

In [5]:
# Mutable--->List/Sets/Dictionary 
# Immutable ---> Strings/tuples/int/float/Boolean/complex

In [6]:
##### Create

In [7]:
D={}   # empty dict
D

{}

In [8]:
D={'Name':'Shayema','Gender':'Female'}
D

{'Name': 'Shayema', 'Gender': 'Female'}

In [9]:
D1={[1,2,3]:"Shayema"}    # as the key ----> [] list is mutable
D1

TypeError: unhashable type: 'list'

In [10]:
D1={(1,2,3):'Shayema'}     # the key : tuple ()-----> is immutable
D1

{(1, 2, 3): 'Shayema'}

In [11]:
D2={'Name':'Shayema','Name':'Sania'}     # python thinks we want to update the value 'Shayema' to 'Sania' 
D2                                       # Hence Keys should be unique

{'Name': 'Sania'}

In [12]:
D3={'Name':'Rohit','College':'HIT','Marks':{'M1':78,'DS':99,'Eng':56}}  # 2D dictionary     # multi-dim dictionary
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 78, 'DS': 99, 'Eng': 56}}

In [14]:
##### Access items from a dict

In [16]:
D

{'Name': 'Shayema', 'Gender': 'Female'}

In [18]:
D[0] # if we want to access 'Shayema' then we'll use the "Key name"

KeyError: 0

In [19]:
D['Name']     # In dictionary, we don't have indexing

'Shayema'

In [20]:
D['Gender']

'Female'

In [22]:
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 78, 'DS': 99, 'Eng': 56}}

In [23]:
# if we want to access the marks of DS
D3['Marks']

{'M1': 78, 'DS': 99, 'Eng': 56}

In [24]:
D3['Marks']['DS']

99

In [32]:
# another way to access values : 
D.get('Name') # this is only applicable for 1D dictionary  
              # we can't use for multi-dim dictionary

'Rahul'

In [25]:
##### Edit

In [26]:
D

{'Name': 'Shayema', 'Gender': 'Female'}

In [27]:
D['Name']='Rahul'
D

{'Name': 'Rahul', 'Gender': 'Female'}

In [28]:
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 78, 'DS': 99, 'Eng': 56}}

In [29]:
D3['Marks']['DS']=45     # if we want to edit marks of DS
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 78, 'DS': 45, 'Eng': 56}}

In [33]:
##### Add new key-value pairs

In [34]:
D

{'Name': 'Rahul', 'Gender': 'Female'}

In [35]:
D['Age']=22
D

{'Name': 'Rahul', 'Gender': 'Female', 'Age': 22}

In [36]:
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 78, 'DS': 45, 'Eng': 56}}

In [37]:
D3['Marks']['M2']=57
D3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 78, 'DS': 45, 'Eng': 56, 'M2': 57}}

In [38]:
##### Delete

In [39]:
D

{'Name': 'Rahul', 'Gender': 'Female', 'Age': 22}

In [41]:
D5={}
D5

{}

In [42]:
del D5   # we can delete an entire dictionary even if it's a empty dict
D5

NameError: name 'D5' is not defined

In [43]:
del D['Gender']   # we can also delete an individual key value pair
D

{'Name': 'Rahul', 'Age': 22}

In [45]:
D.clear()   # 'clear' empties the dictionary
D

{}

In [46]:
##### Operations

In [47]:
D

{}

In [48]:
D1

{(1, 2, 3): 'Shayema'}

In [49]:
D2

{'Name': 'Sania'}

In [50]:
D3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 78, 'DS': 45, 'Eng': 56, 'M2': 57}}

In [52]:
D1+D2      # concatenation is not allowed

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [53]:
D1*3      # multiplication is not allowed

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [54]:
for i in D3:           # In dictionary, we always get 'Keys' not the 'values' when we run a loop
    print(i)

Name
College
Marks

In [55]:
for i in D3:
    print(i,D3[i])      # In dictionary, if we want to get 'Keys' and the 'values' when we run a loop 
                        # this is the method

Name Rohit
College HIT
Marks {'M1': 78, 'DS': 45, 'Eng': 56, 'M2': 57}

In [57]:
'Rohit' in D3  # membership operator  
               # Though we have 'Rohit' in D3 but o/p is False beacuse in Dictionary everything is about 'Keys' not the 'values'

False

In [58]:
'Name' in D3

True

In [59]:
'Rohit' in D3['Name']   # correct way to use membership operator for 'Values' in Dictionary

True

In [60]:
len(D3)

3

In [61]:
max(D3)  # depend on asci value

'Name'

In [62]:
min(D3)  # depend on asci value

'College'

In [64]:
sorted(D3)

['College', 'Marks', 'Name']

In [65]:
sorted(D3,reverse=True)

['Name', 'Marks', 'College']

In [66]:
D3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 78, 'DS': 45, 'Eng': 56, 'M2': 57}}

In [67]:
D3.keys()   # gives list of keys

dict_keys(['Name', 'College', 'Marks'])

In [68]:
D3.values()   # gives list of values

dict_values(['Rohit', 'HIT', {'M1': 78, 'DS': 45, 'Eng': 56, 'M2': 57}])

# Variables and Memory References

In [3]:
a   # Python calls variable as 'name'

NameError: name 'a' is not defined

In [4]:
a=4

In [5]:
id(a)    # memory address

140712239922336

In [6]:
id(4)               # this is the memory address where 'a' is stored

140712239922336

# (i) aliasing

In [8]:
a=5

In [9]:
b=a

In [10]:
id(a)

140712239922368

In [11]:
id(b)

140712239922368

In [12]:
c=b

In [13]:
id(c)

140712239922368

In [14]:
# if we delete 'a' then 'b' will also be deleted or not?????

In [15]:
del a

In [16]:
b

5

In [17]:
# if a=5, b=a and a=6 then what will be b=?????

In [18]:
b

5

# (ii) Reference counting

In [20]:
import sys

In [21]:
a='corona'

In [22]:
b=a

In [23]:
c=b

In [24]:
id(a)

1826208185264

In [25]:
id(b)

1826208185264

In [26]:
id(c)

1826208185264

In [30]:
a

'corona'

In [27]:
b

'corona'

In [28]:
c

'corona'

In [31]:
sys.getrefcount(a)   # why 20 as o/p should be 4

20

In [32]:
# Because there are some other variables in program that are pointing 
# Let's take some uncommon string

In [33]:
a='jenedgjelgjerlj'

In [34]:
b=a

In [35]:
c=b

In [36]:
sys.getrefcount(a)   # now the o/p is 4 as we took very uncommon word

# o/p = 4 ( 3--->no.of variables pointing + 1 ----> getrefcount itself is pointing while counting)

4

# (iii) Garbage collection
  An automatic memory management technique, to deallocate memory that is no longer required by the program.

# (iv) Weird behavior

In [49]:
# WB-1 (Getrefcount anomaly)

In [50]:
a=2
b=a
c=b

In [51]:
sys.getrefcount(a)       # the o/p should be 4 but it is 1452 as there are extra 1448 extra variables that are pointing

1452

In [52]:
a=717
b=a
c=a

In [53]:
sys.getrefcount(a)      # if we take uncommon number like 717 then no extra variables are pointing as it's very uncommon

4

In [54]:
# WB-2 (-5 to 256)

In [55]:
a=4
b=4    # not aliasing

In [56]:
id(a)

140712239922336

In [57]:
id(b)            # same id's

140712239922336

In [58]:
a=256
b=256

In [59]:
id(a)

140712239930400

In [60]:
id(b)          # same id's

140712239930400

In [61]:
a=257
b=257

In [62]:
id(a)

1826207332240

In [63]:
id(b)         # different id's    (Why???????)

1826207331408

In [10]:
# WB-3 (Strings)

In [1]:
a='haldia'
b='haldia'

In [2]:
id(a)

2732468135344

In [3]:
id(b)    # same

2732468135344

In [4]:
a='haldia inst tech'
b='haldia inst tech'

In [5]:
id(a)

2732468400496

In [6]:
id(b)    # different (Why???)

2732468401616

In [7]:
a='haldia_inst_tech'
b='haldia_inst_tech'

In [8]:
id(a)

2732468107344

In [9]:
id(b)   # same

2732468107344

In [11]:
 # the answer is when variable is valid identifier then id will be same otherwise different
 # when identifier is not valid then Python will start to create new memory id's

# (v) Mutability
Mutability refers to the ability to change or edit data in it's memory location.

In [7]:
# memory addressing of a list

In [1]:
L=[1,2,3]

In [2]:
id(L)

1945619045960

In [3]:
id(1)

140734248680512

In [4]:
id(L[0])

140734248680512

In [5]:
id(2)

140734248680544

In [6]:
id(3)

140734248680576

In [9]:
L[2]=1
L

[1, 2, 1]

In [10]:
id(L[2])

140734248680512

In [11]:
L=[1,2,3,[4,5]]
L

[1, 2, 3, [4, 5]]

In [12]:
##### Mutability depends on the data type

In [13]:
a='Hello'

In [14]:
id(a)

1945619007984

In [15]:
a=a+'World'
a

'HelloWorld'

In [16]:
id(a)    # memory address is changed ( in case of immutable data type 'String')

1945619084208

In [19]:
T=(1,2,3)
T

(1, 2, 3)

In [20]:
id(T)

1945618925992

In [21]:
T=T+(5,6)
T

(1, 2, 3, 5, 6)

In [22]:
id(T)      # memory address is changed ( in case of immutable data type 'Tuple')

1945618320168

In [27]:
L=[1,2,3]
L

[1, 2, 3]

In [28]:
id(L)

1945619072968

In [29]:
L.append(4)
L

[1, 2, 3, 4]

In [30]:
id(L)    # # memory address is not changed ( in case of mutable data type 'List')

1945619072968

# (v) Side effects of mutability

In [6]:
L=[1,2,3]
L1=L
L1

[1, 2, 3]

In [7]:
id(L)

2972557050696

In [8]:
id(L1)

2972557050696

In [9]:
L1.append(4)
L1

[1, 2, 3, 4]

In [10]:
L

[1, 2, 3, 4]

In [11]:
id(L1)

2972557050696

In [12]:
id(L)

2972557050696

In [13]:
# How to overcome this situation???
# The solution is 'cloning'

In [14]:
L

[1, 2, 3, 4]

In [15]:
L1=L[:]

In [16]:
id(L)

2972557050696

In [17]:
id(L1)   # L and L1 are different and have different memory addresses

2972556720136

In [18]:
L1.append(5)
L1

[1, 2, 3, 4, 5]

In [19]:
L

[1, 2, 3, 4]

In [20]:
# Q1>

In [21]:
a=(1,2,3,[4,5])
a

(1, 2, 3, [4, 5])

In [22]:
a[-1][-1]=500
a                # So changes in 'List' i.e., [4,5] is possible

(1, 2, 3, [4, 500])

In [23]:
# Q2>

In [24]:
a=[1,2,3,(4,5)]
a

[1, 2, 3, (4, 5)]

In [25]:
a[-1][-1]=500
a               # As 'tuples' i.e., (4,5) is immutable

TypeError: 'tuple' object does not support item assignment

In [26]:
# Q3>

In [28]:
a=[1,2]
b=[3,4]

c=(a,b)
c

([1, 2], [3, 4])

In [29]:
id(a)

2972556615112

In [30]:
id(b)

2972557046856

In [31]:
id(c)

2972557012872

In [33]:
c[0][0]=100
c

([100, 2], [3, 4])

In [34]:
id(a)

2972556615112

In [35]:
id(c)   # 'List' is changed i.e., [1,2]-->[100,2] , so no error and id(a) and id(c) don't change

2972557012872

In [36]:
# In 'Lists', if we append,edit,extend,etc then memory address is not changed.
# But if we 'concatenate' in Lists, the memory address changes.

In [3]:
L=[1,2,3]

In [4]:
id(L)

1630964273672

In [5]:
L=L+[4,5]
L

[1, 2, 3, 4, 5]

In [6]:
id(L)      # the memory address changes

1630964661320

# Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters into a function. A function can return data as a result.

In [2]:
# Two characteristics :-
    # Abstraction : Process of removing unneccesary detail and focusing on the overview.
    # Decomposition: Process of breaking large, complex problems into smaller, manageable parts.

In [51]:
def is_even(number):
    '''
    This function tells if a given number is odd or even
    Input-any valid integer
    Output-odd/even
    Created by- Shayema
    Last edited- 26 March 2024
    '''
    
    if number%2==0:
        return 'even'
    else:
        return 'odd'
    
for i in range(1,11):
    print(is_even(i))

odd
even
odd
even
odd
even
odd
even
odd
even

In [55]:
def is_even(number):
    '''
    This function tells if a given number is odd or even
    Input-any valid integer
    Output-odd/even
    Created by- Shayema
    Last edited- 26 March 2024
    '''
    
    if number%2==0:
        return 'even'
    else:
        return 'odd'
    
for i in range(1,11):
    print(is_even(i))
    
print(is_even.__doc__)         # . _ _ doc _ _

odd
even
odd
even
odd
even
odd
even
odd
even

    This function tells if a given number is odd or even
    Input-any valid integer
    Output-odd/even
    Created by- Shayema
    Last edited- 26 March 2024

In [56]:
print.__doc__     # We can print the documentation of any function

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [57]:
type.__doc__     # We can print the documentation of any function

"type(object_or_name, bases, dict)\ntype(object) -> the object's type\ntype(name, bases, dict) -> a new type"

In [52]:
def is_even(number):
    
    if number%2==0:
        return 'even'
    else:
        return 'odd'
    
is_even(3)

'odd'

In [53]:
def is_even(number):
    
    if number%2==0:
        return 'even'
    else:
        return 'odd'
    
is_even(number=5)

'odd'

In [54]:
number=int(input("enter any valid integer: "))
def is_even(number):
    
    if number%2==0:
        return 'even'
    else:
        return 'odd'
    
is_even(number)

enter any valid integer: 8

'even'

# Parameters Vs Arguments
The terms parameters and argument can be used for the same thing : information that are passed into a function. 

From a function's perspective: A parameter is the variable listed inside the parentheses in the function defination.

An argument is the value that are sent to the function when it is called.

Example;
def is_even(number):
    if number%2==0:
        return 'even'
    else:
        return 'odd'    
x=is_even(4)
print(4)

Here, number---->parameter & 4---->argument 


Real life example; In game, difficulty level--->parameter & hard,medium,easy--->arguments

# Types of arguments
1.Default argumnets

2.Positional arguments

3.Keyword arguments 

4.Arbitrary arguments

# 1.Default arguments
assign default values to the argument using '=' at the time of function defination

In [7]:
def power(a,b):
    return a**b

In [8]:
power(2,3)

8

In [9]:
power(3,2)

9

In [10]:
power(3)   # because our function is designed to take 2 inputs

TypeError: power() missing 1 required positional argument: 'b'

In [11]:
power()   # because our function is designed to take 2 inputs

TypeError: power() missing 2 required positional arguments: 'a' and 'b'

In [12]:
# The solution is "Default argument"

In [25]:
def power(a=1,b=1):             # when a is not given then default value(a)=1
    return a**b                 # when b is not given then default value(b)=1
                                # power(2)--------> a**b=2**1=2
                                # power()---------> a**b=1**1=1

In [26]:
power(2,3)

8

In [27]:
power(2)

2

In [28]:
power()

1

# 2.Positional arguments 
values get assigned as per the sequence

In [29]:
power(2,3)

8

In [30]:
# question is why a=2 , b=3 ?????
# because of the position, a comes first then b 
# This is positional argumnets

# 3.Keyword argumnets 
those arguments where values get assigned to the arguments by their keyword

In [31]:
power(b=2,a=3)

9

In [32]:
# it is used when we have a function with many parameters and we don't remember the order of parameters

# 4.Arbitrary arguments